<!-- begin post -->
{% assign author = site.authors[post.author] %}

<div class="col-lg-6 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="maxthumb3">
                <div id="{{ post.sign }}" class="carousel slide" data-ride="carousel">
                    <!-- 指示符 -->
                    <ul class="carousel-indicators">
                        {% for subPost in site.posts %}
                        {% if subPost.sign == post.sign %}
                        {% if subPost.active %}
                        <li data-target="#{{ post.sign }}" data-slide-to="{{ subPost.num }}" class="active"></li>
                        {% else %}
                        <li data-target="#{{ post.sign }}" data-slide-to="{{ subPost.num }}"></li>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </ul>

                    <!--轮播图片-->

                    <div class="carousel-inner">
                        {% for subPost in site.posts %}

                        {% if subPost.sign == post.sign %}

                        {% include photoboxscroll.html %}

                        {% endif %}

                        {% endfor %}
                    </div>

                    <!--左右切换按钮-->
                    <a class="carousel-control-prev" href="#{{ post.sign }}" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#{{ post.sign }}" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
        </div>
        <div class="card-body">
            <h2 class="card-title">
                <!--<a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>-->
                <a class="text-dark">{{ post.title }}</a>
                {% if post.rating %}
                <div class="mb-2 mt-2 font-weight-normal">
                {% include star_rating_postbox.html %}
                </div>
                {% endif %}
            </h2>
            <!--<h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:30 }}</h4>-->
            <h4 class="card-text">{{ post.excerpt }}</h4>

        </div>
    </div>
</div>
<!-- end post -->